@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham";
  src: url("../public/fonts/Gotham-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.safe-area {
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
}

@keyframes popIn {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  60% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideUpFade {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes auto-flip {
  0%,
  40% {
    transform: rotateY(0deg);
  }
  50%,
  90% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.animate-pop {
  animation: popIn 0.5s ease-out forwards;
}

/* Solo estilos base, sin animación automática */
.flip-container {
  perspective: 1000px;
  position: relative;
}

.flipper {
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  overflow: hidden;

  /* Centramos el contenido */
  display: flex;
  align-items: center;
  justify-content: center;
}

.front-logo,
.back-logo {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  overflow: hidden;
  /* CENTRAR horizontal y verticalmente su contenido */
  display: flex;
  align-items: center;
  justify-content: center;
}


.flip-container:hover .rotate-on-hover {
  transform: rotateY(180deg);
}

.rotate-on-3s {
  animation: auto-flip 6s infinite ease-in-out;
}

.front {
  transform: rotateY(0deg);
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}
.front-logo {
  transform: rotateY(0deg);
  z-index: 2;
}

.back-logo {
  transform: rotateY(180deg);
}

.btn-gradient-cas {
  background: linear-gradient(
    150deg,
    #a5e6a8,
    #78c8d2,
    #b791dd,
    #ee8ec3,
    #ffc4ac,
    #ffdf7d
  );
  color: white; /* O blanco si querés más contraste */
  padding: 15px 60px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.btn-gradient-cas:hover {
  opacity: 0.80; /* Efecto de hover */
}

select {
  appearance: none; /* Quita el estilo nativo */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" ...>'); /* flecha personalizada */
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1rem;
}


.text-gradient-cas {
  background: linear-gradient(
    90deg,
    #a5e6a8,
    #78c8d2,
    #b791dd,
    #ee8ec3,
    #ffc4ac,
    #ffdf7d
  );
  -webkit-text-stroke: 1.5px black;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradient-cas-ns {
  background: linear-gradient(
    90deg,
    #a5e6a8,
    #b791dd,
    #78c8d2,
    #ee8ec3,
    #ffdf7d,
    #ffc4ac
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Esta clase se activa en hover */
.custom-stroke-hover-gradient:hover {
  background: linear-gradient(
    90deg,
    #a5e6a8,
    #b791dd,
    #78c8d2,
    #ee8ec3,
    #ffdf7d,
    #ffc4ac
  );
  -webkit-text-stroke: 1.5px black;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.custom-stroke-hover:hover {
  background: linear-gradient(
    90deg,
    #a5e6a8,
    #b791dd,
    #78c8d2,
    #ee8ec3,
    #ffdf7d,
    #ffc4ac
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-stroke {
  -webkit-text-stroke: 1.5px black;
  color: transparent;
  transition: all 0.3s ease;
}
.stroke {
  -webkit-text-stroke: 0.8px black;
  color: transparent;
  transition: all 0.3s ease;
}
.stroke-1 {
  -webkit-text-stroke: 0.1px black;
  color: transparent;
  transition: all 0.3s ease;
}
.custom-stroke-yellow {
  -webkit-text-stroke: 0.1px black;
  color: #ffdf7d;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #ffdf7d;
}

.custom-stroke-green {
  -webkit-text-stroke: 0.1px black;
  color: #a5e6a8;
  transition: all 0.3s ease;
}
.custom-stroke-pink {
  -webkit-text-stroke: 0.1px black;
  color: #ee8ec3;
  transition: all 0.3s ease;
}
.custom-stroke-blue {
  -webkit-text-stroke: 0.1px black;
  color: #78c8d2;
  transition: all 0.3s ease;
}
.custom-stroke-teal {
  -webkit-text-stroke: 0.1px black;
  color: #b791dd;
  transition: all 0.3s ease;
}
.custom-stroke-peach {
  -webkit-text-stroke: 0.1px black;
  color: #ffc4ac;
  transition: all 0.3s ease;
}

/* global.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Contenedor de la imagen y el texto */
.slide-container {
  position: relative;
  overflow: hidden;
  width: 15rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Imagen siempre al frente */
.slide-container img {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}

/* Texto inicialmente oculto */
.slide-text {
  position: absolute;
  top: 50%; /* posición final, pero empieza invisible */
  left: 0;
  width: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  z-index: 1;
  opacity: 0; /* 🔹 invisible */
  transform: translateY(20px); /* 🔹 ligeramente desplazado hacia abajo */
  transition: opacity 0.5s ease, transform 0.5s ease; /* animación */
}

/* Hover: aparece suavemente */
.slide-container:hover .slide-text {
  opacity: 1; /* visible */
  transform: translateY(40px); /* vuelve a su sitio */
}

