@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham";
  src: url("../public/fonts/Gotham-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@keyframes popIn {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  60% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.animate-pop {
  animation: popIn 0.5s ease-out forwards;
}

/* Solo estilos base, sin animación automática */
.flip-container {
  perspective: 1000px;
  position: relative;
}

.flipper {
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  overflow: hidden;
}

.front {
  transform: rotateY(0deg);
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}

.flip-container:hover .rotate-on-hover {
  transform: rotateY(180deg);
}

.text-gradient-cas {
  background: linear-gradient(
    90deg,
    #a5e6a8,
    #78c8d2,
    #b791dd,
    #ee8ec3,
    #ffc4ac,
    #ffdf7d
  );
  -webkit-text-stroke: 1.5px black;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradient-cas-ns {
  background: linear-gradient(
    90deg,
    #a5e6a8,
    #b791dd,
    #78c8d2,
    #ee8ec3,
    #ffdf7d,
    #ffc4ac
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Esta clase se activa en hover */
.custom-stroke-hover-gradient:hover {
  background: linear-gradient(
    90deg,
    #a5e6a8,
    #b791dd,
    #78c8d2,
    #ee8ec3,
    #ffdf7d,
    #ffc4ac
  );
  -webkit-text-stroke: 1.5px black;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.custom-stroke-hover:hover {
  background: linear-gradient(
    90deg,
    #a5e6a8,
    #b791dd,
    #78c8d2,
    #ee8ec3,
    #ffdf7d,
    #ffc4ac
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.custom-stroke {
  -webkit-text-stroke: 1.5px black;
  color: transparent;
  transition: all 0.3s ease;
}
.stroke {
  -webkit-text-stroke: 0.8px black;
  color: transparent;
  transition: all 0.3s ease;
}
.stroke-1 {
  -webkit-text-stroke: 0.1px black;
  color: transparent;
  transition: all 0.3s ease;
}
.custom-stroke-yellow {
  -webkit-text-stroke: 0.1px black;
  color: #ffdf7d;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #ffdf7d;
}

.custom-stroke-green {
  -webkit-text-stroke: 0.1px black;
  color: #a5e6a8;
  transition: all 0.3s ease;
}
.custom-stroke-pink {
  -webkit-text-stroke: 0.1px black;
  color: #ee8ec3;
  transition: all 0.3s ease;
}
.custom-stroke-blue {
  -webkit-text-stroke: 0.1px black;
  color: #78c8d2;
  transition: all 0.3s ease;
}
.custom-stroke-teal {
  -webkit-text-stroke: 0.1px black;
  color: #b791dd;
  transition: all 0.3s ease;
}
.custom-stroke-peach {
  -webkit-text-stroke: 0.1px black;
  color: #ffc4ac;
  transition: all 0.3s ease;
}


/* global.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
